<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="MqSection" type="System.Configuration.NameValueSectionHandler"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!--消息队列服务器配置参数-->
  <MqSection>
    <!--MQ服务器IP-->
    <!--多个IP用逗号隔开-->
    <add key="HostName" value="192.168.1.175,192.168.1.53"/> 
    <add key="UserName" value="admin"/>
    <add key="Password" value="123456"/>
    <add key="Port" value="5672"/>
    <add key="GPSQueue" value="task_queue"/>
    <add key="AlarmQueue" value="task_queue_alarm"/>
    <!--预取数-->
    <add key="PrefetchCount" value="1000"/>
    <!--是否全局-->
    <add key="IsGlobal" value="false"/>
    <!--mq连接数-->
    <add key="ConnectionCount" value="1"/>
    <!--每条mq连接上的通道数-->
    <add key="ChannelCount" value="10"/>
    <!--是否多队列-->
    <add key="IsMultipleQueues" value="true"/>
    <add key="GPSQueueCount" value="10"/>
    <add key="AlarmQueueCount" value="10"/>
    <!--最大线程数-->
    <add key="MaxThreads" value="1000"/>
    <!--是否插入数据库-->
    <add key="DBFlag" value="true"/>
    <!--批量-->
    <add key="BatchCount" value="100"/>
    <add key="ClientIp" value="192.168.1.113"/>
  </MqSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\receive.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="200MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>